<div id="new-cupcake">
  <li>{{cupcakes}}</li>
</div>



<h1>Cupcake Chomper!</h1>
<img src="assets/images/cupcake.jpeg" width="205" height="250">
<h2>Let's eat some cupcakes...</h2>
<textarea id="cupcake-input" rows="3" cols="40"></textarea>
<br>
<button id="add-cupcake" type="button">Add a Cupcake!</button