<div id="new-cupcake">
	<ul>
	{{#each cupcakes}}
  		<li>
  			{{cupcake_name}}
  			{{!-- Changing what the button says based on whether or not it's eaten --}}
  			<button data-id={{id}} data-eaten={{eaten}} class="eat">
  				{{#if eaten}}
            All gone!
         	{{/if}}

  				{{#unless eaten}}
  					Eat me!
  				{{/unless}}
  			</button> 

  		</li>
	{{/each}}
	</ul>
</div>



<h1>Cupcake Chomper!</h1>
<img src="assets/images/cupcake.jpeg" width="205" height="250">

<form action="/addCupcake" method="post">
<h2>Let's eat some cupcakes...</h2>
<textarea id="cupcakeInput" rows="3" cols="40" name="cupcakeInput"></textarea>
<br>
<button id="addCupcake" type="submit">Add a Cupcake!</button>
</form>